[submodule "roles/cyanite"]
	path = roles/cyanite
	url = https://github.com/gitinsky/ansible-role-cyanite.git
[submodule "roles/leiningen"]
	path = roles/leiningen
	url = https://github.com/gitinsky/ansible-role-leiningen.git
[submodule "roles/graphite"]
	path = roles/graphite
	url = https://github.com/gitinsky/ansible-role-graphite.git
[submodule "roles/eye"]
	path = roles/eye
	url = https://github.com/gitinsky/ansible-role-eye.git
[submodule "roles/vagrant"]
	path = roles/vagrant
	url = https://github.com/gitinsky/ansible-role-vagrant.git
[submodule "roles/cassandra"]
	path = roles/cassandra
	url = https://github.com/gitinsky/ansible-role-cassandra-g1gc-automem-runit.git
[submodule "roles/java"]
	path = roles/java
	url = https://github.com/gitinsky/ansible-role-java.git
[submodule "roles/runit"]
	path = roles/runit
	url = https://github.com/gitinsky/ansible-role-runit.git
[submodule "roles/ruby-rvm"]
	path = roles/ruby-rvm
	url = https://github.com/gitinsky/ansible-role-ruby-rvm.git
[submodule "roles/docker-io"]
	path = roles/docker-io
	url = https://github.com/gitinsky/ansible-role-docker-io.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/gitinsky/ansible-role-nginx
[submodule "roles/docker.ubuntu"]
	path = roles/docker.ubuntu
	url = https://github.com/angstwad/docker.ubuntu.git
[submodule "roles/nodejs"]
	path = roles/nodejs
	url = https://github.com/gitinsky/ansible-role-nodejs.git
[submodule "roles/statsd"]
	path = roles/statsd
	url = https://github.com/gitinsky/ansible-role-statsd.git
[submodule "roles/grafana"]
	path = roles/grafana
	url = https://github.com/gitinsky/ansible-role-grafana.git
[submodule "roles/elasticsearch-dockerized"]
	path = roles/elasticsearch-dockerized
	url = https://github.com/gitinsky/ansible-role-elasticsearch-dockerized.git
[submodule "roles/elasticsearch-container"]
	path = roles/elasticsearch-container
	url = https://github.com/gitinsky/ansible-role-elasticsearch-container.git
[submodule "roles/opscenter"]
	path = roles/opscenter
	url = https://github.com/gitinsky/ansible-role-opscenter.git
[submodule "roles/opscenter-agent"]
	path = roles/opscenter-agent
	url = https://github.com/gitinsky/ansible-role-opscenter-agent.git
[submodule "roles/curator"]
	path = roles/curator
	url = https://github.com/gitinsky/ansible-role-curator.git
